<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parker">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Connection"></activity>
        <activity android:name=".Dialog" />
        <activity android:name=".BluetoothConnect" />
        <activity android:name=".SwitchLayout" />
        <activity android:name=".LocateConnect" />
        <activity android:name=".FindCar" />
        <activity android:name=".SM" />
        <activity android:name=".Main" />
        <activity android:name=".Msgsettings" />
        <activity android:name=".MainSMSActivity" />
        <activity android:name=".MobileUsers" />
        <activity android:name=".EmailIntent" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".GPS" />
        <activity android:name=".Comment" />
        <activity android:name=".EditProfile" />
        <activity android:name=".ParkingReciept" />
        <activity android:name=".SlotD" />
        <activity android:name=".SlotC" />
        <activity android:name=".SlotB" />
        <activity android:name=".SlotA" />
        <activity android:name=".CycleParking" />
        <activity android:name=".CarParking" />
        <activity android:name=".ErrorReport" />
        <activity android:name=".DetailedReport" />
        <activity android:name=".ShareLoc" />
        <activity android:name=".ArrTime" />
        <activity android:name=".MessageUsers" />
        <activity android:name=".DepTime" />
        <activity android:name=".Settings" />
        <activity android:name=".Slot6" />
        <activity android:name=".Slot5" />
        <activity android:name=".Slot4" />
        <activity android:name=".Slot3" />
        <activity android:name=".Slot2" />
        <activity android:name=".Slot1" />
        <activity android:name=".SlotInfo" />
        <activity android:name=".UserComments" />
        <activity android:name=".Homepage" />
        <activity android:name=".Time" />
        <activity android:name=".NewParking" />
        <activity android:name=".RecieveReports" />
        <activity android:name=".illegalparking" />
        <activity android:name=".Emergency" />
        <activity android:name=".HelpUser" />
        <activity android:name=".VehicleSlots" />
        <activity android:name=".Maps" />
        <activity android:name=".Bill" />
        <activity android:name=".ADMIN" />
        <activity android:name=".Area" />
        <activity android:name=".Parking" />
        <activity android:name=".Disability" />
        <activity android:name=".CropImage" />
        <activity android:name=".EnhanceImage" />
        <activity android:name=".CamScanner" />
        <activity android:name=".ParkCost" />
        <activity android:name=".ParkDuration" />
        <activity android:name=".Places" />
        <activity android:name=".ParkingSlot" />
        <activity android:name=".UserType" />
        <activity android:name=".Recieved" />
        <activity android:name=".Send" />
        <activity android:name=".MessageStore" />
        <activity android:name=".Reservations" />
        <activity android:name=".SuccessBooking" />
        <activity android:name=".Payment" />
        <activity android:name=".Join" />
        <activity android:name=".List" />
        <activity android:name=".Calendar" />
        <activity android:name=".SIGNIN" />
        <activity android:name=".FirstTimeUsers" />
        <activity android:name=".CarDetails" />
        <activity android:name=".Details" />
        <activity
            android:name=".ui.login.LogUser"
            android:label="@string/title_activity_log_user" />
        <activity
            android:name=".ui.login.LoginUser"
            android:label="@string/title_activity_login_user" />
        <activity android:name=".AboutUs" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
